@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* Makes dealing with widths easier */
* ::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #2f303a;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: white;
    min-height: 100vh;
}

.full-height-img {
    display: flex;
    flex-direction: column;
    /* Ensures the container grows to reach the bottom of the screen*/
    flex-grow: 1;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
}

.brand-logo-name {
    margin-left: 1rem;
}

/* Remove default padding and margin from nav elements */
.nav-bar ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-bar a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.nav-bar a:hover {
    color: #adadad;
}

/* Ensures nav elements are aligned nicely */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

/* The body will keep everything in the center even past 1200px */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.btn {
    color: white;
    background-color: #1762a7;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
}

.main-section {
    display: flex;
    /* Stretches to full height of container */
    align-items: stretch;
    justify-content: space-between;
    /* Fill the entire space of remaining screen height */
    flex-grow: 1;
}

/* Will allow the image to be pushed down to the bottom of the screen */
.img-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}

.lady-img {
    background-image: url(images/landing-page-girl.png);
    flex-grow: 1;
    /* Min and max values so the image doesn't scale too small */
    max-height: 70vh;
    min-width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
}

/* Remove image and center section for smaller screens */
@media (max-width: 900px) {
    .img-wrapper {
        display: none;
    }

    .main-section {
        justify-content: center;
    }
}

.circle-icon-1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgba(188, 58, 128, 0.1);
    bottom: 5vw;
    left: 5vw;
    z-index: -1;
}

.circle-icon-2 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgba(52, 87, 178, 0.1);
    top: 15vh;
    left: 30vw;
    z-index: -1;
}

.circle-icon-3 {
    position: absolute;
    overflow: hidden;
    width: 45vw;
    height: 45vw;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* Using pseudo element so that the circle can go through the side of the screen */
.circle-icon-3::before {
    content: '';
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(52, 87, 178, 0.1);
}